%h1 Remove Topic

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the topic
  =@topic.name
  ?

%p.buttons
  = button_to("Delete Topic", admin_topic_url(@topic), {:method => 'delete', :confirm => 'Really delete topic?', :class => 'button'})
  or
  = link_to 'Cancel', admin_topics_url
