- af ||= false
%li
  - if attachment.image?
    = link_to image_tag(post_attachment_url(attachment, :size => :thumbnail)), post_attachment_url(attachment), :class => 'thumbnail'
  - else
    = link_to attachment.filename, post_attachment_url(attachment), :class => "attachment #{attachment.extension}"
  - if af
    %br
    = af.check_box :_destroy, :class => 'checkbox'
    Check to remove this file if you want to replace it with another
